<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <title>SOC Programs</title>
        <meta charset="UTF-8">
        <meta name="description", content="SOC Programs">
        <meta name="author", content="Mridu Bhatnagar">
        <meta http-equiv="Content-Type" content="text/html">
        <style>
           table, th, td {
           border: 1px solid black;
           border-collapse: collapse;
           }
        </style>
    </head>
    <body>
        <table style="width:50%">
          <tr>
            <thead>
              <th>Name</th>
              <th>Awards</th>
              <th>Timeline</th>
            </thead>
          </tr>
            {% block content %}{% endblock %}
        </table>
    </body>
</html>
