<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <title>SOC Programs</title>
        <meta charset="UTF-8">
        <meta name="description", content="SOC Programs">
        <meta name="author", content="Mridu Bhatnagar">
        <meta http-equiv="Content-Type" content="text/html">
        <style>
           table, th, td {
           border: 1px solid black;
           border-collapse: collapse;
           }
        </style>
    </head>
    <body>
        <table style="width:50%">
          <tr>
            <thead>
              <th>Name</th>
              <th>Awards</th>
              <th>Timeline</th>
            </thead>
          </tr>
          <tr>
            <td><a href="https://oss2019.github.io/SoI.html">Summer of Innovation</a></td>
            <td>Prizes and Swags for top participants</td>
            <td></td>
          </tr>
          <tr>
            <td><a href="https://njackwinterofcode.github.io/">NJACK Winter of Code</a></td>
            <td>Prizes and Swags for top participants</td>
            <td></td>
          </tr>
          <tr>
            <td><a href="https://kossiitkgp.org/">Kharagpur Winter of Code</a></td>
            <td>Prizes and Swags for top participants</td>
            <td></td>
          </tr>
          <tr>
            <td><a href="https://opencodeiiita.github.io/">OpenCode IIITA</a></td>
            <td>Prizes and Swags for top participants</td>
            <td></td>
          </tr>
        </table>
    </body>
</html>
